@import '~vue-material/dist/theme/engine';
@include md-register-theme(
  'default',
  (
    primary: md-get-palette-color(lightblue, A200),
    // The primary color of your application
      accent: md-get-palette-color(blue, A200),
    // The accent or secondary color
      theme: dark
      // This can be dark or light,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
  )
);
@import '~vue-material/dist/theme/all';
// colors
$primary: #000d31;
$secondary: #001140;
// breakpoints
$screen-sm-min: 600px;
// mixins
// small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

html,
body {
  background-color: $primary !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.md-dialog-container {
  background-color: $primary !important;
  width: 748px;
  height: 794px;
  @include sm {
    margin-top: 45px !important;
  }
}

.md-select-menu {
  background-color: $primary !important;
}

.md-overlay {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.md-list {
  background-color: $secondary !important;
}

.md-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.md-scrollbar::-webkit-scrollbar-thumb {
  background-color: #40c4ff !important;
}

.logo {
  width: 40px;
  height: 40px;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

[class*='col-'] {
  float: left;
  padding: 15px;
  height: 100vh;
}

.col-1 {
  width: 6.25%;
}

.col-2 {
  width: 12.5%;
}

.col-3 {
  width: 18.75%;
}

.col-4 {
  width: 25%;
}

.col-5 {
  width: 31.25%;
}

.col-6 {
  width: 37.5%;
}

.col-7 {
  width: 43.75%;
}

.col-8 {
  width: 50%;
}

.col-9 {
  width: 56.25%;
}

.col-10 {
  width: 62.5%;
}

.col-11 {
  width: 68.75%;
}

.col-12 {
  width: 75%;
}

.col-13 {
  width: 81.25%;
}

.col-14 {
  width: 87.5%;
}

.col-15 {
  width: 93.75%;
}

.col-16 {
  width: 100%;
}

ul {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
}

.active {
  color: #40c4ff !important;
}

hr {
  width: auto;
  border-top: none;
  border-bottom: solid #a7a7a7 1px;
  margin: 0px;
  margin-left: -15px;
  margin-right: -15px;
  align-self: center;
}

.nav-col {
  display: flex;
  justify-content: flex-end;
}

.main-col {
  border-left: solid #a7a7a7 1px;
  border-right: solid #a7a7a7 1px;
  height: 100%;
  min-height: 100vh;
}

.mention {
  color: #40c4ff;
  cursor: pointer;
}

.mention:hover {
  text-decoration: underline;
}

.topic {
  color: #40c4ff;
}

.error {
  font-weight: bold;
  color: #ff0033;
}

.error-container {
  background-color: rgb(255, 210, 218);
  color: rgb(15, 20, 25);
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 12px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
