h1 {
  color: #0078d7;
}

.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whats-happening {
  margin-bottom: 50px;
}

.quacks-timeline {
  overflow-y: auto;
  max-height: 50vh;
}

.quack {
  border: 1px solid black;
  display: flex;
  width: 350px;
  height: 100px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5px;
}

.quack-message {
  margin-left: 15px;
}

.quack-date {
  color: rgb(143, 143, 143);
  margin-left: 15px;
}

#submit-quack-area {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  resize: none;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  border: none;
}

.submit-button {
  background-color: #0078d7;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  align-self: center;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .whats-happening {
    width: 100%;
    margin-bottom: 10px;
  }

  .quacks-timeline {
    width: 100%;
    padding: 10px;
  }

  .quack {
    width: 100%;
  }

  .submit-button {
    width: 100%;
  }
}
