.login-main {
  max-width: 400px;
  margin-top: 20px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.login-footer {
  margin-top: 20px;
  text-align: center;
}

#signup {
  cursor: pointer;
}
