.login-main {
  max-width: 400px;
  padding-top: 20px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.login-footer {
  margin-top: 20px;
  text-align: center;
}

.login-button {
  width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
  text-transform: none !important;
  border-radius: 2.5em !important;
  height: 46px !important;
  color: white !important;
}
